*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #005963;
}

.header{
    background-color: #005963;
    border: #00ffd0 5px solid;
    display: flex;
    justify-content: space-between;
}

.my-nav-links{
    color: #00ffd0;
    transition: .5s;
}

.my-nav-links:hover{
    color:#ffffff;
}

.hero-container{
    background-color: #005963;
    border: #00ffd0 5px solid;
    border-top: none;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.za-btn{
    background-color: #00ffd0;
    color: #005963;
    border: none;
    padding: 10px;
    transition: .5s all;   
    border: #00ffd0 2px solid;
}

.za-btn:hover{
    background-color: transparent;
    color: #00ffd0;
}

.za-h1{
    color: #00ffd0;
    font-weight: bold;
    font-size: 72px;
  
}

.za-h2{
    color: #00ffd0;
    font-weight: bold;
    font-size: 56px;
}

.za-h2-services{
    color: #00ffd0;
    font-weight: bold;
    font-size: 56px;
}

.za-text{
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    
}

.za-project-type{
    color: #00ffd0;
    font-weight: lighter;
}

.top{
    border: #00ffd0 5px solid; 
    width: 100%;
    height: 40px;
    position: absolute;
    border-top: none;
    margin-bottom: 10px;
    
}

.top h6{
    margin-top: 8px;
}

.main-container{
    background-color: #005963;
    border: #00ffd0 5px solid;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.about-container{
    background-color: #005963;
    border: #00ffd0 5px solid;
    /* height:500px; */
    display: flex;
    justify-content: space-evenly;
}

.service-section{
    background-color: #005963;
    border: #00ffd0 5px solid;
    display: flex;
    /* padding: 10px 0; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-center{
    margin: 25px auto !important;

}

.service{
    border: #00ffd0 5px solid;
    /* border-left: none; */
    padding: 10px;
    margin: 25px 10px;
    width: 40%;
    /* height: 50px; */
}


.project-container{
    background-color: #005963;
    border: #00ffd0 5px solid;
    height:450px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(./images/timurid-home-large.jpg);
}

.side-img{
    padding: 40px;
    width: 40%;
    /* border: #00ffd0 5px solid; */

}

.side-img img{
    width: 100%;
}


.side-text{
    width: 70%;
    /* border: #00ffd0 5px solid; */

}

/* //EVEN SMALLER // */
/* @media (max-width: 478px){
    .za-h2-services{
        font-size: 24px !important;
    }
} */
/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) { 
    .za-h1{
        font-size: 56px;
    }
    .za-h2{
        font-size: 40px;
    }
    .za-text{
        font-size: 16px;
        }
        .side-img img {
            width: 60%;
        }

    .project-container{
    background-image: url(./images/timurid-home-small.jpg);

    }
    .za-h2-services{
        font-size: 24px !important;
    }

 }
  
/* // Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) { 
    .side-img{
        width: 100%;
    }

    .side-img img {
        width: 80%;
    }

    .side-text{
        width: 100%;
        
    }

    .about-container{
        display: block;
    }

    project-container{
        background-image: url(./images/timurid-home-medium.jpg);
    
        }

        .za-h2-services{
            font-size: 36px;
        }

    
 }

  